.container{
    height: 209px;
    width: 100vw;
    background: #0F0F0F;
    padding: 30px;
    margin-top: 46px;
}
.container h2 {
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-size: 14.16px;
}
.container .content{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.container .content .wrapperIcons{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: 700;
}

.container .content div p {
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-size: 11.8px;
}